<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="" ng-init="firstName='John'">
  <p>Name: <input type="text" ng-model="name"></p>
  <p ng-bind="name"></p>
  <p>The name is :  <span ng-bind="firstName"></span></p>
<div data-ng-app="" data-ng-init="firstName2='John Frusciante'">
  <p>The name is <span data-ng-bind="firstName2"></span></p>
<p>My first expression: {{ 5 + 5 }}</p>

  <p>Nombre: <input type="text" ng-model="name2"></p>
  <p>"Nombre :" + {{name2}}</p>
      <div ng-init="person={firstName:'George',lastName:'Doe'}">
               <p>The last name is {{ person.lastName }}</p>
      </div> 
  
</div> 
</div>
  
  
</body>
</html>
